article.post { padding: 20px 0px; border-top: #eb99a1 solid 1px; }
#menu a { margin: 0px 15px 0px 0px; }
#sidebar {border-top: #eb99a1 solid 1px; font-size: 0.8em; }
#sidebar div.widget { display: inline-block; vertical-align: top; width: 25%; }
